.employeeTable {
  table-layout: fixed;
  width: 800px;
  margin: auto;
  border-collapse: collapse;
  border-radius: 5%;
}
.employeeTableHeaderCell {
  border: 1px solid #000;
  text-align: center;
  padding: 2px;
  font-size: 0.8rem;
  font-weight: 500;
}
.sortButton {
  border: none;
  background-color: transparent;
  padding: 0;
}
td {
  border-collapse: collapse;
  border: 1px solid grey;
}
tr {
  background-color: white;
}
tr:nth-of-type(2n) {
  background-color: lightgrey;
}
tbody tr:hover {
  background-color: grey;
}
