.filtersContainer {
  display: flex;
  justify-content: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 8px;
}
label {
  display: flex;
  justify-content: right;
  gap: 3px;
  font-size: 0.8rem;
}
.input {
  font-size: 0.8rem;
  height: 0.8rem;
}
.button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  font-size: 0.8rem;
  padding: 1px;
  border: 1px soild grey;
}
